@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
.data-container {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .data-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .data-container .left-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .data-container .left-container .Expoforum {
    font-size: 2em;
  }
  .data-container .right-container {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .data-container .right-container .tr-container {
    margin-top: 20px;
  }
  .data-container .right-container .bl-container {
    margin-top: 20px;
  }
  .data-container .right-container .br-container {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .data-container .right-left-container {
    margin-right: 20px;
  }
  .data-container .tl-container {
    margin-bottom: 20px;
  }
  .data-container .tr-container {
    margin-bottom: 20px;
  }
  .data-container .Expoforum {
    font-size: 3em;
  }
}

@media (max-width: 991px) {
  .data-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .data-container .left-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .data-container .right-container {
    margin-top: 30px;
  }
}

.data-container .left-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.data-container .left-container .typography {
  font-size: 1.2em;
}

.data-container .right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.data-container .right-container .right-left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.data-container .right-container .right-right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.data-container .right-container .tl-container {
  padding: 20px;
  background-color: #2378FC;
  width: 200px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.data-container .right-container .tr-container {
  padding: 20px;
  background-color: #30BCC9;
  width: 200px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.data-container .right-container .bl-container {
  padding: 20px;
  background-color: #FFC41E;
  width: 200px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.data-container .right-container .br-container {
  padding: 20px;
  background-color: #F6404F;
  width: 200px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

hr {
  margin: 0;
  padding: 0;
  max-width: 1000px;
  margin: 0 auto;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.mini-container-first {
  background-color: #2378FC;
}

.first-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .first-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .first-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-container .exhibitor-container {
    margin-left: 3%;
  }
  .first-container .visitors-container {
    margin-left: 3%;
  }
  .first-container .press-container {
    margin-left: 3%;
  }
}

.first-container li {
  margin-bottom: 8%;
  font-size: 1em;
}

.first-container a:hover {
  border-bottom: 1.5px solid #FFC41E;
  color: #FFC41E;
}

.first-container h3 {
  font-size: 1.6em;
}

.first-container .organizers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-container .exhibitor-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-container .visitors-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-container .press-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-container .items {
  margin-top: 10%;
}

.mini-container-second {
  background-color: #FFC41E;
  width: 100%;
}

.second-container {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.second-container .second-container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .second-container .second-container-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .second-container .second-container-top .second-container-events {
    text-align: center;
  }
}

.second-container .second-container-top a {
  font-size: 0.8em;
  color: black;
  border-bottom: 1.5px solid black;
}

.second-container .second-container-top h1 {
  font-size: 1.2em;
}

.second-container .second-container-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .second-container .second-container-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.second-container .second-container-bottom .span-top {
  font-size: 0.7em;
  font-weight: 400;
}

.second-container .second-container-bottom .span-bottom {
  font-size: 0.8em;
  font-weight: 500;
}

.second-container .second-container-bottom h3 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #F6404F;
}

.second-container .second-container-bottom .second-container-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 250px;
}

.second-container .second-container-bottom .second-container-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 250px;
}

.second-container .second-container-bottom .second-container-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 250px;
}

.second-container .second-container-bottom .second-container-first-block {
  min-height: 270px;
}

.second-container .second-container-bottom .second-container-first-block-bottom {
  min-height: 270px;
  padding-top: 20px;
}

.mini-container-third {
  width: 100%;
  background-color: #FAF3E3;
}

.third-container {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .third-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .third-container .bottom-image {
    margin-top: 20px;
  }
  .third-container .third-right-container {
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .third-container .third-left-container {
    padding-right: 60px;
  }
  .third-container .third-right-container {
    padding-left: 60px;
  }
  .third-container img {
    max-width: 400px;
  }
}

@media (max-width: 991px) {
  .third-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .third-container .bottom-image {
    margin-top: 20px;
  }
  .third-container .third-right-container {
    margin-top: 20px;
  }
  .third-container img {
    max-width: 700px;
  }
}

.third-container a {
  color: #2E373B;
  border-bottom: 1.5px solid black;
}

.third-container h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

.third-container img {
  height: auto;
  width: 100%;
}

.third-container .third-left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.third-container .third-right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 500px;
  max-width: 400px;
  color: #2E373B;
}

.third-container .third-right-container span {
  color: #F6404F;
}

.third-container .third-right-container .third-right-container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.third-container .third-right-container .third-right-container-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 600px;
  min-height: 450px;
}

.third-container .third-right-container .third-right-container-bottom .third-right-container-bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.third-container .third-right-container .third-right-container-bottom .third-right-container-bottom-row .third-right-container-bottom-row-text {
  padding-left: 20px;
}

.mini-container-fourth {
  width: 100%;
  background-color: #30BCC9;
  padding-top: 100px;
  padding-bottom: 100px;
}

.fourth-container {
  max-width: 1000px;
  margin: 0 auto;
}

.fourth-container h3 {
  font-size: 1.2em;
}

.fourth-container a {
  font-size: 0.9em;
}

.fourth-container a:hover {
  border-bottom: 1.5px solid #FFC41E;
  color: #FFC41E;
}

.fourth-container img {
  height: auto;
  width: 100%;
}

.fourth-container .fourth-container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .fourth-container .fourth-container-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.fourth-container .fourth-container-row li:not(:first-child) {
  margin-top: 15px;
}

.fourth-container .fourth-container-row .fourth-container-row-block-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fourth-container .fourth-container-row .fourth-container-row-block-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fourth-container .fourth-container-row .fourth-container-row-block-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
}

.fourth-container .fourth-container-row .fourth-container-row-block-news .text {
  color: #E0E0E0;
}

.fourth-container .fourth-container-row .fourth-container-row-block-text {
  font-weight: 300;
}

.fourth-container .fourth-container-row .fourth-container-row-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fourth-container .fourth-container-row .fourth-container-row-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fourth-container .fourth-container-row .fourth-container-row-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fourth-container .fourth-container-row .fourth-container-row-fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fourth-container .fourth-container-row .fourth-container-row-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.fourth-container .fourth-container-row .fourth-container-row-block-title {
  margin-bottom: 20px;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.padding-left-right {
  padding-right: 20px;
  padding-left: 20px;
}

.mini-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .main-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header li:not(:first-child) {
  margin-left: 40px;
}
/*# sourceMappingURL=style.css.map */